<form [formGroup]="loginForm" (ngSubmit)="login()">
    <label>Login:</label>
    <br>
    <input type="text" formControlName="login">
    <br>
    <label>Password:</label>
    <br>
    <input type="text" formControlName="password">
    <br>
    <button type="submit" [disabled]="!loginForm.valid">Submit</button>
</form>
<hr>
<button (click)="currentAuth()">Current</button>
<button (click)="currentExp()">Expiration</button>
<button (click)="logout()">Logout</button>
<hr>
<p>Form Data:</p>
<pre>{{ loginForm.value | json }}</pre>
<pre>{{ loginForm.status }}</pre>
<hr>
<p>Login Data:</p>
<pre>{{ loginData | json }}</pre>